header{width: 100%; background-image: linear-gradient(black, fuchsia, pink);}

h1{font-family: 'Lavishly Yours', cursive; font-size: 50px!important; font-weight: bold!important;}

.btncontainer{width: 80%; margin: auto;}

button{font-family: 'Lavishly Yours', cursive!important; font-size: 40px!important;}

button:nth-child(odd):hover{background-color: rgb(250, 150, 250)!important; color: white!important;}
button:nth-child(even):hover{background-color: rgb(19, 9, 19)!important; color: white!important;}

.photosbox{width: 80%; margin: auto; border: 1px solid white; margin-bottom: 10vh;}

footer{height: 10vh; background-color: black;}

.clearbtn{width: 10%; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif!important; font-size: 15px!important; border-radius: 10px; margin: auto;}